
*
body{
    background-color: rgb(187, 187, 187);
}
h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 15px;
    margin: 8px;
}

.applicationForm{
    max-width: 70%;
    padding: 30px;
    margin: auto;
    background-color: rgb(224, 225, 225);
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}
.form-group{
    width: 50%;
    padding: 5px;
    margin: auto; 
}
input{
    padding: 5px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid rgb(187, 187, 187);
    background-color: rgb(187, 187, 187);
    
}
label{
    padding: 8px;
    font-family: 'Oswald', sans-serif;
}

.submitfull{
    width: 100px;
    border: solid rgb(224, 225, 225);
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
}
.submit:hover,.submit:focus{
    width: 100px;
    transition: 1s;
    transition-timing-function: ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.outer_submit{
    height: 30px;
    margin: 10px;
    padding: 10px;
}
@media only screen and (max-width: 600px){
    
    .applicationForm{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .form-group{
        width: 50%;
        padding: 5px;
        margin: auto;
    }
    label{
        width: 100%;
    }
    input{
        width: 100%;
        margin: auto;
    }
    .submit{
        text-align: center;
        
    }
    *{
        transition: 1.5s;
        transition-timing-function: ease;
    }
    
}
